@use "variable"as v;
/*************************************************
common-style
*************************************************/
@mixin base_width{
  margin: 0 auto;
  width: 1200px;
}
// @extendでスタイルの継承
// @mixinでステイルの定義
// @includeでmixinの呼び出し

// ブレイクポイント
// PC基準でコーディングする場合
$breakpoints: (
  "sm": "screen and (max-width: 769px)", //スマホ
  "md": "screen and (max-width: 1100px)", //タブレット
) !default;
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints , $breakpoint)} {
    @content;
  }
}

.is_pc{
  @include mq(md){
    display: none;
  }
}

.is_sp{
  display: none;
  @include mq(md){
    display: initial;
  }
}

// *{
//   border: 1px solid red;
// }
// スマホ基準でコーディングする場合
// $breakpoints: (
//   "md": "screen and (min-width: 600px)", //タブレット
//   "lg": "screen and (min-width: 1025px)", //パソコン
// ) !default;
// @mixin mq($breakpoint: lg) {
//   @media #{map-get($breakpoints , $breakpoint)} {
//     @content;
//   }
// }

*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: 'Zen Kaku Gothic New', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.img-box {
  img {
    width: 100%;
  }
}

.obj-fit {
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
  @include mq(md){
    width: 100%;
    padding:0 20px;
  }
}

p,
li,
a {
  color: v.$main-txt;
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 2px;
}

h2 {
  font-family: v.$head-ttl;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  @include mq(){
    font-size: 1.8rem;
  }
}

.ttl01 {
  position: relative;
  writing-mode: vertical-rl;
  border-left: 1.5px solid v.$main-txt;
  border-right: 1.5px solid v.$main-txt;
  padding: 1.7rem 3rem 1rem;
  line-height: 1.7;
  &::before {
    font-family: v.$nomal-txt;
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    position: absolute;
    top: 1.7rem;
    left: -3rem;
  }
  @include mq(){
    padding: 1em;
  }
}

.ttl_wrap {
  text-align: center;
}
.ttl02 {
  position: relative;
  display: inline-block;
  border-top: 1.5px solid v.$main-txt;
  border-bottom: 1.5px solid v.$main-txt;
  padding: 2.2rem 3rem;
  line-height: 1.7;
  @include mq(){
    padding: 1.5rem 4rem;
  }
  &::before {
    font-family: v.$nomal-txt;
    font-size: 1.5rem;
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}


// /iOSでのデフォルトスタイルをリセット /
input[type="submit"],
input[type="button"] {
border-radius: 0;
-webkit-box-sizing: content-box;
-webkit-appearance: button;
appearance: button;
border: none;
box-sizing: border-box;
&::-webkit-search-decoration {
display: none;
}
&:focus {
outline-offset: -2px;
}
}

.btn {
  max-width: 20rem;
  a {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    @include mq(){
      justify-content: center;
    }
    &:hover {
      div {
        transform: scale(1.4);
        &::after {
          left: 1.5rem;
          width: 2.5rem;
        }
      }
    }
    div {
      position: relative;
      width: 3rem;
      height: 3rem;
      background: url(https://cdn.shopify.com/s/files/1/0628/4594/3865/files/btn-circle.svg) no-repeat center / contain;
      transition: all .3s;
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -1.5rem;
        content: "";
        width: 3rem;
        height: 1px;
        background-color: v.$main-txt;
        transition: all .3s;
      }
    }
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.active {
  opacity: 1;
  transform: translateY(0);
}


.filter_img {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://cdn.shopify.com/s/files/1/0628/4594/3865/files/bg_filter.png) no-repeat center / cover;
  mix-blend-mode: multiply;
  z-index: 0;
}


.op1 {
  &:hover {
    opacity: 1 !important;
  }
}