<footer>
    <div class="feeshiping">
      <a href="/cart/">
        <div>
          <p class="feeshippng-txt"><span class="strong01">5,000</span>円（税込）以上ご購入で<span class="strong02">送料無料</span></p>
          <p class="feeshippng-cart u-pc">ご購入はこちら<img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files//icon-cart.svg" alt=""></p>
        </div>
      </a>
    </div>
    <div class="inner">
      <div class="footer_contents">
        <div class="column01">
          <div class="logo">
            <a href="{{ routes.root_url }}" class="img-box">
              <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files//logo_footer.png" alt="">
            </a>
          </div>
          <p>
            有限会社しろま製菓産業<br>
            〒901-2126 沖縄県浦添市宮城4-13-2<br>
            TEL：098-877-7143 / FAX：098-879-7359<br>
            MAIL：keiri1@shiromaseika.com<br>
            営業時間：9:00～17:30（電話受付時間）
          </p>
        </div><!-- /.column01 -->
        <div class="column02 is_pc">
          <nav>
            <ul>
              <li><a href="/pages/about/">しろま製菓について</a></li>
              <li>
                商品一覧
                <ul>
                  <li><a href="/collections/beniimo-tart/">・紅芋タルト</a></li>
                  <li><a href="/collections/sata-andagi/">・サーターアンダギー</a></li>
                  <li><a href="/collections/hateruma-kokuto/">・波照間産黒糖</a></li>
                </ul>
              </li>
              <li><a href="/pages/faq/">よくある質問</a></li>
              <li><a href="/pages/company/">会社概要</a></li>
              <li><a href="/pages/contact-form/">お問い合わせ</a></li>
            </ul>
          </nav>
        </div><!-- /.column02 -->
        <div class="column02_sp is_sp">
          <nav>
            <div class="left">
              <ul>
                <li><a href="{{ routes.root_url }}">TOP</a></li>
                <li><a href="/pages/about/">しろま製菓について</a></li>
                <li>
                  商品一覧
                  <ul>
                    <li><a href="/collections/beniimo-tart/">・紅芋タルト</a></li>
                    <li><a href="/collections/sata-andagi/">・サーターアンダギー</a></li>
                    <li><a href="/collections/hateruma-kokuto/">・波照間産黒糖</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul>
                <li><a href="/pages/faq/">よくある質問</a></li>
                <li><a href="/pages/company/">会社概要</a></li>
                <li><a href="/pages/contact-form/">お問い合わせ</a></li>
              </ul>
              <div class="other">
                <ul>
                  <li><a href="/pages/privacy/">プライバシーポリシー</a></li>
                  <li><a href="/pages/terms/">特商法取引法の表示</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div><!-- /.column02 -->
        <div class="column03">
          <nav>
            <ul class="list-area01">
              <li>
                <a href="/account/">
                  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files//icon-login.svg" alt="">
                  ログイン
                </a>
              </li>
              <li>
                <a href="/cart/">
                  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files//icon-cart.svg" alt="">
                  カート
                </a>
              </li>
            </ul>
            <ul class="list-area02">
              <li><a href="/pages/privacy/">プライバシーポリシー</a></li>
              <li><a href="/pages/terms/">特商法取引法の表示</a></li>
            </ul>
          </nav>
        </div><!-- /.column03 -->
        <div class="footer_text_sp is_sp">
          <p>
            有限会社しろま製菓産業<br>
            〒901-2126 沖縄県浦添市宮城4-13-2<br>
            TEL：098-877-7143 / FAX：098-879-7359<br>
            MAIL：keiri1@shiromaseika.com<br>
            営業時間：9:00～17:30（電話受付時間）
          </p>
        </div>
      </div><!-- /.footer_contents -->
      <p><small>© SHIROMA SEIKA All Rights Reserved.</small></p>
    </div><!-- /.inner -->
  </footer>