<section class="under_title p-company_wrap01">
  <div class="inner">
    <h1>会社概要</h1>
    <p class="sub-ttl">COMPANY</p>
    <p>南の島で愛され続けて50年以上。<br>
      本オンラインショップを運営する、有限会社しろま製菓産業の会社概要です。</p>
  </div>
</section><!-- /.p-top_wrap01 -->

<div class="p-company_wrap02">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-company_img01.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-company_img01.jpg" alt="">
  </picture>
</div><!-- /.p-company_wrap02 -->

<section class="p-company_wrap03">
  <div class="inner">
    <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/logo.png" alt=""></div>
    <table>
      <tr>
        <th>会社名</th>
        <td>有限会社しろま製菓産業</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>昭和60年5月1日</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>一千万円</td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>代表取締役社長　玉城　智子</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>〒901-2126　沖縄県浦添市宮城4-13-2 203号</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>098-877-7143</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-879-7359</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>観光土産食品製造卸業</td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="https://www.shiromaseika.com/" target="_blank">https://www.shiromaseika.com/</a></td>
      </tr>
    </table>
  </div>
</section><!-- /.p-top_wrap03 -->