<!-- メインビジュアル -->
<div class="p-lp_mv andagi">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-mv_sp.png" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-mv.jpg" alt="">
  </picture>
  <div class="c-txt fadeIn">
    <h1><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-mv-txt.png" alt="愛され続けて50年、沖縄お菓子専門店"></h1>
  </div><!-- /.c-txt -->
  <div class="white-blur"></div>
</div><!-- /.p-p-lp_mv -->

<section class="p-lp_first">
  <div class="inner">
    <div class="left fadeIn">
      <h2><span>SHIROMA’s OKINAWAN DOUGHNUT</span>ふとした時に食べたくなる、<br>幸福を呼ぶお菓子</h2>
    </div>
    <div class="right">
      <p>サーターアンダギーは花が開いたように割れて見えることから縁起の良い沖縄のお菓子とされ、お祝いごとや行事の際にもふるまわれます。プレーン、黒糖、紅芋のフレーバーをご用意しております。</p>
      <p>沖縄の伝統お菓子〝しろま製菓のサーターアンダギー〟をご賞味下さい。</p>
    </div>
  </div>
</section>

<section class="p-lp_second andagi">
  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-bg-full.png" alt="" class="is_pc">
  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-bg-full_sp.png" alt="" class="is_sp">
</section>

<section class="p-lp_contents andagi">
  <h3><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-ttl.png" alt=""></h3>
  <div class="lp-inner-01">
    <div class="left">
      <h4 class="is_sp">COMMITMENT 01</h4>
      <div class="img-box obj-fit">
        <div class="swiper02">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-1.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-1.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-2.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-2.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-3.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-3.png" alt="">
              </picture>
            </div>
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper -->
      </div>

      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-2.png" alt=""></div>
      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg1-3.png" alt=""></div>
    </div>

    <div class="right">
      <span>COMMITMENT 01</span>
      <h4>沖縄県産鶏卵をたっぷり使用<br>柔らかい食感へのこだわり</h4>
      <p>しろま製菓のサーターアンダギーは、沖縄県産の新鮮な鶏卵を贅沢に使用し、独自の製法と絶妙な配合で、口の中でふんわりと溶けるような柔らかさを追求しています。一つ一つ手作りで、丁寧に油のなかでゆっくりと転がしながら様子を見ます。まるで、我が子を撫でるように愛情を込めてお作りしています。</p>
      <p>さらに、しろま製菓ではその品質の高さを保つために、原材料の選定から製造、出荷に至るまでの一連の工程において、徹底的な品質管理を行っています。そして、お客様の手元に届ける際にも、最高の状態でお楽しみいただけるよう心掛けております。</p>
    </div>
  </div>

  <div class="lp-inner-02">
    <div class="left">
      <span>COMMITMENT 02</span>
      <h4>外はサクッと、中はホックリ<br>日が経っても固くならない</h4>
      <p>しろま製菓のサーターアンダギーは、外側のサクッとした食感と、中のふんわりとしたホックリとした食感が特長です。日が経ってもその柔らかさは失われず、長持ちするのでお土産やギフトにも最適です。</p>
      <p>この独特の食感を生み出す製法は、最初はかなり硬い仕上がりとなってしまう課題がありました。しかし、私たちはその配合にかなりの時間をかけて研究し、理想的な食感を追求し続け、その結果、今のサーターアンダギーの完成へと至りました。</p>
    </div>

    <div class="right">
      <h4 class="is_sp">COMMITMENT 02</h4>
      <div class="img-box obj-fit">
        <div class="swiper02">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-1.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-1.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-2.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-2.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-3.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-3.png" alt="">
              </picture>
            </div>
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper -->
      </div>

      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-2.png" alt=""></div>
      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg2-3.png" alt=""></div>
    </div>
  </div>
</section>

<section class="slide_wrap swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg3-1.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg3-2.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg3-3.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg3-4.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg3-5.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-slideimg3-6.png" alt=""></div>
  </div>
</section>

<section class="p-lp_third">
  <h3 class="fadeIn"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-ttl_02.png" alt=""></h3>
  <div class="inner fadeIn">
    <div class="left">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-tabekata_01.png" alt="">
    </div>
    <div class="right">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-andagi-tabekata_02.png" alt="">
    </div>
  </div>
  <div class="one_column">
    <p>トースターにサーターアンダギーを乗せて約2~3分ほど焼くと揚げたてのように美味しくいただけるのでおすすめです</p>
    <small>※表面が焦げやすいので焼き時間に注意して行ってください。</small>
  </div>
</section>

{% section 'lp-andagi_lineup' %}