<section class="under_title">
  <div class="inner">
    <h1>特定商取引法に基づく表記</h1>
    <p class="sub-ttl">TERMS</p>
    <p>しろま製菓公式オンラインショップの、特定商取引法に基づく表記です。</p>
  </div>
</section>

<section class="p-terms_wrap">
  <div class="inner">
    <table>
      <tbody>
        <tr>
          <th>店舗名</th>
          <td>しろま製菓　<br class="is_sp">公式オンラインショップ</td>
        </tr>
        <tr>
          <th>販売業者</th>
          <td>有限会社しろま製菓産業</td>
        </tr>
        <tr>
          <th>販売責任者</th>
          <td>代表取締役社長　玉城　智子</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒901-2126　<br class="is_sp">沖縄県浦添市宮城4-13-2　203号</td>
        </tr>
        <tr>
          <th>連絡先</th>
          <td>メールアドレス：keiri1@shiromaseika.com<br>
            電話番号：098-877-7143（8:30～17:30）</td>
        </tr>
        <tr>
          <th>サイトURL</th>
          <td>https://www.shiromaseika.com/</td>
        </tr>
        <tr>
          <th>販売価格</th>
          <td>商品ごとに表示<br>
            表示価格は税込み表示となります。</td>
        </tr>
        <tr>
          <th>お支払方法</th>
          <td>支払方法：<br>
            クレジットカード<br>
            支払時期：商品注文確定時でお支払いが確定致します。<br>
            
            決済手数料：350円（税込）<br>
            
            代引き：手数料　別途265円（税込）</td>
        </tr>
        <tr>
          <th>お支払時期</th>
          <td>クレジットカード：商品の注文受付完了時において課金されます。お引き落とし日は各種クレジットカードの締め日や契約内容により異なります。ご利用のクレジットカード会社までご確認ください。</td>
        </tr>
        <tr>
          <th>商品代金以外の必要料金</th>
          <td>・消費税（商品代金の10％）<br>
            ※軽減税率対象商品は8％となります。<br>
            ・送料：北海道・東北地方　1,500円<br>
            　　　　信越・北陸・関東・東海・近畿・四国・中国　1,000円<br>
            　　　　九州・沖縄　500円<br>
            ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。<br>
            ・クレジットカード決済：手数料無料<br>
            ・代引き手数料　別途265円（税込）</td>
        </tr>
        <tr>
          <th>商品の販売制限について</th>
          <td>商品は在庫限りとさせていただきます。ご注文いただきました商品が在庫切れの場合は、メールでご連絡差し上げます。</td>
        </tr>
        <tr>
          <th>商品のお引渡し時期</th>
          <td>通常、ご注文をお受けしてから3営業日以内に発送いたします。
            土曜、日曜、祝日および長期休暇（年末年始、お盆など）の場合は、翌営業日からの発送となります。
            また、ご注文が集中した場合、および天候不順により配送業社からの遅延アナウンスが発生した場合は、通常時よりお届けにお時間を頂戴する場合がございます。
            予約商品については、発売日以降の発送となります。詳細は各商品ページの表示をご確認ください。</td>
        </tr>
        <tr>
          <th>発送方法</th>
          <td>ゆうパックにて発送いたします。</td>
        </tr>
        <tr>
          <th>キャンセルについて</th>
          <td>発送前の場合に限り、キャンセルを承ります。<br>
            こちらよりお問い合わせください。</td>
        </tr>
        <tr>
          <th>返品・交換について</th>
          <td>ご注文の商品到着後7日経過以降にご連絡いただいた場合は返品・交換をお受けできません。あらかじめご了承ください。また、商品が食品であることから、返品・交換は未開封のものに限らせていただきます。<br>
            商品のお届けには万全を期しておりますが、万が一、申込み商品と異なる商品が届けられた場合や、数量の差異、不具合等ございましたらご連絡ください。当社負担にて良品とご交換させて頂きます。代替商品が手配できない場合は、代金をご返金いたします。（賞味期限内のものまで）
            なお、お客様の事由による返品・交換につきましては一切ご対応いたしかねます。予めご了承ください。</td>
        </tr>
        <tr>
          <th>動作環境について</th>
          <td>Microsoft Edge、Chrome、Firefox、Safariの最新版を推奨します。</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>