<!-- メインビジュアル -->
<div class="p-lp_mv kokuto">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-mv_sp.png" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-mv.jpg" alt="">
  </picture>
  <div class="c-txt fadeIn">
    <h1><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-mv-txt.webp" alt="愛され続けて50年、沖縄お菓子専門店"></h1>
  </div><!-- /.c-txt -->
  <div class="white-blur"></div>
</div><!-- /.p-p-lp_mv -->

<section class="p-lp_first">
  <div class="inner">
    <div class="left fadeIn">
      <h2><span>SHIROMA’s KOKUTO</span>日本最南端の有人島、<br>波照間島の特級品黒糖</h2>
    </div>
    <div class="right">
      <p>八重山諸島の一つ波照間島。日本最南端の有人島波照間島の黒糖は、ギュッと濃縮した旨味と甘味が特徴。波照間島の太陽をたっぷりと浴びた新鮮なサトウキビのみを使用しミネラル・カリウム・カルシウムと栄養を豊富に含んだ黒糖です。</p>
      <p>特級品ならではの深みと香り高い黒糖となっております。</p>
    </div>
  </div>
</section>

<section class="p-lp_second andagi">
  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-bg-full.png" alt="" class="is_pc">
  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-bg-full_sp.png" alt="" class="is_sp">
</section>

<section class="p-lp_contents">
  <h3><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/ttl_01.png" alt=""></h3>
  <div class="lp-inner-01">
    <div class="left">
      <h4 class="is_sp">COMMITMENT 01</h4>
      <div class="img-box obj-fit">
        <div class="swiper02">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-1.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-1.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-2.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-2.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-3.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-3.png" alt="">
              </picture>
            </div>
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper -->
      </div>

      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-2.png" alt=""></div>
      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg1-3.png" alt=""></div>
    </div>


    <div class="right">
      <span>COMMITMENT 01</span>
      <h4>沖縄黒糖の中でも、<br>
        味わい深いコクがある甘味</h4>
        <p>波照間産の黒糖は、沖縄県の特産品として知られる黒糖の中でも、特に深い風味と独特の甘さが魅力です。黒糖は、波照間島の恵まれた自然環境で育ったサトウキビから、伝統的な製法により手間暇をかけて作られております。その結果、独特の深い香りと、ミネラルを豊富に含んだ味わいが楽しめるのです。</p>
          <p>そのコク深い甘さは、料理やデザート、またはお茶うけとしてそのまま楽しむことができ、多くのファンに愛されています。</p>
    </div>
  </div>

  <div class="lp-inner-02">
    <div class="left">
      <span>COMMITMENT 02</span>
      <h4>香り豊かでミネラル豊富。<br>
        おやつや料理に使える</h4>
        <p>しろま製菓が取り扱う波照間産の黒糖は、特級品としてその品質と風味が高く評価されています。</p>
        <p>黒糖は料理やデザートに深みと複雑な味わいを加えます。その天然の甘さは、カリウムやカルシウムなどのミネラルを豊富に含み、栄養価を高める効果があります。</p>
        <p>
          また、黒糖の独特の色と香りは、料理の風味と見た目を一層引き立てます。
          少量での使用でも、その効果は十分に感じられるため、さまざまなレシピに適しています。その独特な香りと風味を、ぜひご堪能ください。
        </p>
    </div>


    <div class="right">
      <h4 class="is_sp">COMMITMENT 02</h4>
      <div class="img-box obj-fit">
        <div class="swiper02">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-1.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-1.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-2.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-2.png" alt="">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-3.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-3.png" alt="">
              </picture>
            </div>
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper -->
      </div>

      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-2.png" alt=""></div>
      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg2-3.png" alt=""></div>
    </div>
  </div>
</section>

<section class="slide_wrap swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg3-1.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg3-2.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg3-3.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg3-4.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-slideimg3-5.png" alt=""></div>
  </div>
</section>

<section class="p-lp_third">
  <h3 class="fadeIn"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/ttl_02.png" alt=""></h3>
  <div class="inner">
    <div class="left fadeIn">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-tabekata_01.png" alt="">
      <p>いつもの料理にコクをプラス</p>
      <small>さとうきびの汁を煮詰めただけの黒糖は、精製した上白糖などと比べると深みのある味をしています。いつもの煮物にコクが出て、風味豊かに。黒糖が持つ美味しさを堪能してください。</small>
    </div>
    <div class="center fadeIn">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-tabekata_02.png" alt="">
      <p>まろやか黒糖スイーツ</p>
      <small>サーターアンダギーや沖縄ぜんざいなど、沖縄の定番スイーツだけでなく、白砂糖の代わりにラスクやプリンなど、ぜひスイーツに利用してみてください。</small>
    </div>
    <div class="right fadeIn">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-kokuto-tabekata_03.png" alt="">
      <p>からだに優しい黒糖ドリンク</p>
      <small>疲労回復や脳に活力を与える栄養素を含む黒糖。中医学では体を温める働きがあると言われています。ほっとひと息つきたい時の飲み物に、黒糖ドリンクは最適です。</small>
    </div>
  </div>
  <div class="pick_up">
    <div class="contents">
      <div class="spoon"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/spoon.png" alt=""></div>
      <h4><span>作り置きしておくと便利</span>黒みつの作り方</h4>
      <div class="box">
        <div class="left">
          <table>
            <tr>
              <th>材料</th>
              <td>黒糖100g　水100ml</td>
            </tr>
            <tr>
              <th>作り方</th>
              <td>黒糖と水を小鍋に入れて火にかけ、底をよくかき混ぜながら弱目の中火で煮る。途中であくをとり、10〜12分ほど煮て半分量になれば出来上がり。</td>
            </tr>
          </table>
        </div>
        <div class="right">
          <p>※黒みつを作り置きしておくと、いろいろ使えて便利です。トーストに塗ったり、アイスクリームやヨーグルトにかけたり、ドリンクに入れたり・・・アイディア次第でひと味違ったスイーツが。きな粉との相性も抜群です。また、そのまま料理に使えば、削る手間が省けます。</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% section 'lp-kokuto_lineup' %}