<section class="under_title p-company_wrap01">
  <div class="inner">
    <h1>しろま製菓について</h1>
    <p class="sub-ttl">ABOUT SHIROMA SEIKA</p>
    <p>南の島で愛され続けて50年以上。しろま製菓は、限定されたラインナップで、各商品に真心と深いこだわりを注ぎ込んでいます。<br>お菓子へのこだわり、しろま製菓の歴史をご紹介します。</p>
  </div>
</section><!-- /.p-top_wrap01 -->

<div class="p-about_wrap02">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_img01_sp.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_img01.jpg" alt="">
  </picture>
</div>

<section class="p-about_wrap03">
  <div class="inner">
    <div class="center fadeIn">
      <h2><span>OUR COMMITMENT</span>限定されたラインナップ<br>一つ一つに丁寧にこだわる</h2>
    </div>

    <div class="about_slide_wrapper">
      <div class="about_slide">
        <div class="left">
          <div class="img-box obj-fit">
            <!-- <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/beniimo-taruto_img02-3.png" alt=""> -->
            <div class="swiper02">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg01.png" media="(max-width: 769px)">
                    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg01.png" alt="">
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg02.png" media="(max-width: 769px)">
                    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg02.png" alt="">
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg03.png" media="(max-width: 769px)">
                    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg03.png" alt="">
                  </picture>
                </div>
              </div><!-- /.swiper-wrapper -->
            </div><!-- /.swiper -->
          </div>

          <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg03.png" alt=""></div>
          <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about-slideimg02.png" alt=""></div>
        </div>

      </div>
      <div class="text">
        <p>しろま製菓は、限定されたラインナップで製菓としてお菓子づくりへのこだわりを追求しています。</p>
          <p>紅芋タルトは、まるでスイートポテトのようなしっとりとした食感と、甘さ控えめの深い味わいが魅力です。また、サーターアンダギーに関しては、独自の配合を研究し尽くし、沖縄の伝統的な味を今に伝えています。</p>
          <p>最後に、私たちのこだわりの一つである波照間産の黒糖。長年のネットワークを活かし、その質の高さを保ち続けています。</p>
          <p>創業時からの手作業の伝統は、私たちの商品一つ一つに情熱と誇りを感じていただけることでしょう。沖縄の恵みを心ゆくまでお楽しみください。</p>
      </div>
    </div>

  </div>
</section>

<div class="p-about_wrap04">
  <div class="box">
    <div class="image_01 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_02_01.png" alt=""></div>
    <div class="image_02 fadeIn">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_02_02.png" alt="" class="is_pc">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_02_03.png" alt="" class="is_sp">
    </div>
    <div class="image_03 obj-fit fadeIn">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_02_03.png" alt="" class="is_pc">
      <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_02_02.png" alt="" class="is_sp">
    </div>
  </div>
</div>

<section class="p-about_wrap05">
  <div class="inner">
    <div class="ttl_wrap fadeIn"><h2>各商品のこだわりを見る</h2></div>
    <div class="line-up">
      <div class="box beniimo fadeIn">
        <a href="/pages/beniimo-tart/" class="img-box obj-fit">
          <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/about-category01.png" alt="">
        </a>
      </div>
      <div class="box sata fadeIn">
        <a href="/pages/okinawa-doughnut/" class="img-box obj-fit">
          <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/about-category02.png" alt="">
        </a>
      </div>
      <div class="box hateruma fadeIn">
        <a href="/pages/kokuto/" class="img-box obj-fit">
          <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/about-category03.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="p-about_wrap06">
  <div class="inner">
    <div class="box">
      <h2 class="ttl01 fadeIn">しろま製菓の歴史</h2>
      <h3>沖縄が誇る家族経営の<br class="is_sp">お菓子メーカーの物語<br><span class="is_sp"></span>
        沖縄の変遷とともに<br class="is_sp">歩んできた50年以上の歴史</h3>
        <div class="image is_sp"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_box01_sp.png" alt="紅芋タルト"></div>
        <p>1972年、城間正一氏（現会長）が、観光立県としての沖縄の将来を見据えてしろま製菓を設立。当時の沖縄は、観光土産としてのお菓子販売がまだ少なかったため、そこに城間氏は目をつけて製菓事業を展開しました。</p>
        <p>しかし創業当初はお菓子メーカーのあてもなかったため、<span>独学でお菓子づくりを習得</span>。ちんすこうを始めとした様々な沖縄の伝統菓子を手作業で製造・販売していました。そうした学ぶ努力と時代の流れを読んだ行動力が、<span>50年以上愛される沖縄のお菓子専門店</span>を作り上げました。</p>
        <div class="image is_pc"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_box01.png" alt="紅芋タルト"></div>
    </div>
    <div class="flex_box fadeIn">
      <div class="text">
        <h3>一筋縄ではいかない道のり<br>
          限定されたラインナップで、<br class="is_sp">こだわりを強く</h3>
          <p>時代は常に順調とは限りません。バブルの崩壊、ヘリ墜落の事故、そして最近の新型コロナウイルスの影響。</p>
          <p>これらの困難に直面しながらも、しろま製菓は変革と適応の歴史を歩んできました。<br>
            10年前、経営難にぶつかったしろま製菓。現代表である娘の玉城智子氏が困難を乗り越えるため、<span>ラインナップを厳選し、徹底した商品改革</span>を行いました。</p>
          <p><span>少数精鋭だからこそ、一つ一つに想いや情熱を注ぎたい。</span>紅芋タルト、サーターアンダギー、黒糖に商品を絞り込み、様々なお菓子作りのノウハウやこだわりを詰め込みました。</p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_box02.png" alt="" class="is_pc">
        <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_box02_sp.png" alt="" class="is_sp">
      </div>
    </div>
    <div class="flex_box reverse fadeIn">
      <div class="text">
        <h3>しろま製菓だからこだわれる、<br>
          オンリーワンのお菓子を目指して</h3>
          <p>県産の高品質な素材の使用と、伝統と革新を融合させたお菓子作り。特に、スイートポテトのようなしっとり感が魅力の紅芋タルトは、観光客をはじめとする多くの方から愛されています。</p>
          <p>今後も沖縄の伝統を守りつつ、新しいジャンルのお菓子の開発に挑戦していきます。<span>「しろま製菓らしさ」の追及、オンリーワンの新アイテムの創出。</span>次なる時代の観光業に貢献する企業として、多くの人を笑顔にする お菓子づくりに、これからも向き合っていきます。</p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_box03.png" alt="" class="is_pc">
        <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/p-about_box03_sp.png" alt="" class="is_sp">
      </div>
    </div>
  </div>
</section>