<!-- メインビジュアル -->
<div class="p-lp_mv beniimo">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-mv_sp.png" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-mv.png" alt="">
  </picture>
  <div class="c-txt fadeIn">
    <h1><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-mv-txt.png" alt="愛され続けて50年、沖縄お菓子専門店"></h1>
  </div><!-- /.c-txt -->
  <div class="white-blur"></div>
</div><!-- /.p-p-lp_mv -->

<section class="p-lp_first">
  <div class="inner">
    <div class="left fadeIn">
      <h2><span>SHIROMA’s BENI-IMO TART</span>しろまの紅芋タルトは、<br>ケーキのようなしっとり感</h2>
    </div>
    <div class="right">
      <p>しろま製菓の紅芋タルトの特徴は、まるでケーキのようなしっとりとした食感です。沖縄県産の紅芋100%使用したペーストと、こだわりのタルト生地がその食感を実現しています。</p>
      <p>このユニークなタルトは、しろま製菓ならではの独特の風味と食感を持ち合わせています。
        創業時から変わらない手間ひまをかけた製法で、観光客から地元の方まで、多くの人々に愛され続けています。</p>
    </div>
  </div>
</section>

<section class="p-lp_second">
  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-bg-full.png" alt="" class="is_pc">
  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-bg-full_sp.png" alt="" class="is_sp">
</section>

<section class="p-lp_contents">
  <h3><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-ttl.png" alt=""></h3>
  <div class="lp-inner-01">
    <div class="left">
      <h4 class="is_sp">COMMITMENT 01</h4>

      <div class="test">
        <div class="img-box obj-fit">
          <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg1-1.png" alt="">
        </div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg1-2.png" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg1-3.png" alt=""></div>
      </div>

    </div>


    <div class="right">
      <span>COMMITMENT 01</span>
      <h4>沖縄の特産品紅芋を100％使用<br>
        なめらかな口溶け</h4>
        <p>しろま製菓の紅芋タルトは、沖縄県産の紅芋ペースト100%。<br>
          紅芋は皮の部分に繊維質が多い食べ物です。手作業で丁寧に皮を剥いていき、その紅芋をとことん蒸し潰してペーストにしていきます。お菓子に加工された際、しっとりなめらかな食感が残るのが特徴です。通常のタルトとは一線を画すこの食感は、しろま製菓独自の製法によるもの。</p>
          <p>紅芋のペーストがたっぷりと詰まった紅芋タルトは、まるでスイートポテトのような、ケーキのような贅沢感です。</p>
    </div>
  </div>

  <div class="lp-inner-02">
    <div class="left">
      <span>COMMITMENT 02</span>
      <h4>しっとりしたタルトの秘密は、<br>
        カステラ生地と…</h4>
        <p>しっとりとした食感の秘訣は、タルトにも。 ビスケット生地と紅芋ペーストの間に挟まれたカステラとオレンジミンチは他のタルトにはない美味しさを引き出す秘密のレシピのひとつです。</p>
        <p>タルトの表面はさっくりとしていますが、口の中に入れるとそのしっとりとした食感が広がります。このコントラストがまさに魅力的であり、一度食べたら忘れられない味わいとなるでしょう。</p>
        <p>カステラが持つふんわりとした食感と、オレンジミンチのほのかな酸味が、紅芋ペーストの甘さと絶妙に組み合わさり、奥深い風味を生み出しています。</p>
    </div>


    <div class="right">
      <h4 class="is_sp">COMMITMENT 02</h4>

      <div class="test">
        <div class="img-box obj-fit">
          <div class="swiper02">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-1.png" media="(max-width: 769px)">
                  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-1.png" alt="">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-2.png" media="(max-width: 769px)">
                  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-2.png" alt="">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-3.png" media="(max-width: 769px)">
                  <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-3.png" alt="">
                </picture>
              </div>
            </div><!-- /.swiper-wrapper -->
          </div><!-- /.swiper -->
        </div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-2.png" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg2-3.png" alt=""></div>
      </div>

    </div>
  </div>
</section>

<section class="slide_wrap swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg3-1.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg3-2.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg3-3.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg3-4.png" alt=""></div>
    <div class="swiper-slide inner"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-slideimg3-5.png" alt=""></div>
  </div>
</section>

<section class="p-lp_third">
<h3 class="fadeIn"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-ttl_02.png" alt=""></h3>
<div class="inner fadeIn">
  <div class="left">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-tabekata_01.png" alt="">
    <p>オーブンで焼くと生地がサクサクして出来立てのおいしさが味わえます。</p>
  </div>
  <div class="right">
    <img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/lp-beniimo-tabekata_02.png" alt="">
    <p>暑い日は冷蔵庫で冷やしてひんやりと</p>
  </div>
</div>
</section>


{% section 'lp-beniimo_lineup' %}