<section class="under_title">
  <div class="inner">
    <h1>お問い合わせ</h1>
    <p class="sub-ttl">CONTACT</p>
    <p>お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
      また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/">「よくある質問」ページ</a>にまとめておりますので、ぜひご覧ください。</p>
      <div class="p-contact_tel_wrap">
        <p>お電話から</p>
        <p class="number"><img src="https://cdn.shopify.com/s/files/1/0628/4594/3865/files/tel_icon_8241923a-0f29-4ec8-b6dd-866a306386d0.png" alt="電話">098-877-7143</p>
        <small>営業時間｜9:00～17:30（電話受付時間）<br class="is_sp">定休日｜土日・祝日・正月休み</small>
      </div>
  </div>
</section>


<section class="p-contact_wrap">
  <h3>メールフォームから</h3>
  <div class="inner">
    {% section 'contact-form' %}
  </div>
</section>